body{
	background-image: url('../Images/PresentationPage/html1.jpeg');
	background-repeat: no-repeat;
	background-attatchment: fixed;
	background-size: cover;
	color: white;
}
 background-image{
	   opacity:0.5;
	   }
 table,th,td {
	 /*Table Styling*/
	border: 2px solid white;
	border-collapse:collapse;
	}
 td{
	padding: 5px;
	}
 table.center {
		 margin-left:auto;
		 margin-right:auto;

	}
 h1{
	  text-align:center;
	}
footer {
	text-align: center;
	padding: 3px;
	background-color: #ffa500;
	color:#000000;
}