      /*styling the page with query form*/ 

       body {
          background: linear-gradient(to right, #000000,#f1f1f1,#000000); /*the background gradient black & white*/
        }

        .menu-bar{
          font-family:Arial Black;        /*the navigation bar styling*/
          font-size:15px;
          background:#ffa500;
          text-align:center;
          padding:-5px;
        }

        .menu-bar ul{                    /*styling the items of the menu bar*/
          display:inline-flex;
          list-style:none;
          padding:5px;
          margin-left:-5px;
        }

        .menu-bar ul li{                /*styling the sub menu items of the navigation bar items*/
          width:180px;
          margin:0px;
          padding:15px;
        }

        .menu-bar ul li a{              /*hover effect styling for the navigation bar*/
          text-decoration:none;
          color:#000000;
          padding:7px;
        }
          
        .menu-bar ul li:hover{         /*the mouse on display styling of navigation bar*/
          background:#ffd700;
          border-radius:3px;
        }

        .submenu1{                    /*removing the bullet marks of the submenu list*/
          display:none;
        }
        
        .menu-bar ul li:hover .submenu1{            /*styling the hover effect of the menu items*/
          display:block;
          position:absolute;
          background:#ffa500;
          margin-top:15px;
          margin-left:-15px;
        }

        .menu-bar ul li:hover .submenu1 ul{         /* on-mouse hover effect stylig for the submenu items*/
          display:block;
          margin:5px;
        }

        .menu-bar ul li a:hover{  
          color:#000000;
        }

        .container{                    /*styling the container that contains the form */
          width: 80%;
          height: 630px;
          margin: 2% auto;
          border-radius:5px ;
          position: relative;
          overflow: hidden;
          border-color: black;
          font-weight: 900;
          background-image: linear-gradient(to right, #f1f1f1,#ffa500);
        }
        
        .container form {             /*styling and positioning the data(form objects) at the container*/
          width: 280px;
          position: absolute;
          top: 25px;
          left: 40px;
        }

        #func-btn {                   /* styling the "back" and "email" buttons*/
          width: 120px;
          height: 40px;
          color: #111111;
          cursor: pointer;
          background-color: #ffa500; 
          border-top: black;
        }

        #disp-btn {                 /* styling the "view query" bautton*/
          width: 120px;
          height: 40px;
          color: #111111;
          cursor: pointer;
          background-color:#ffa500; 
          border-top: black;  
        }

        #disp-btn:hover {                 /* hover effects for the "back" and "email" buttons*/
          background-color: #f1f1f1;
        }

        #func-btn:hover {                 /* hover effects for the "view query" button*/
          background-color: #f1f1f1;
        }

        .text2 {                          /*styling the topic of the page*/        
          margin: 5px;
          width: 99%;
          text-align: center;
          color:black;
          font-size: 30px;
          background: linear-gradient(to right, #f1f1f1,#ffa500);
          padding: 16px;
          font-family: Georgia;
          letter-spacing: 2px;
        }

        body form h3 {                  /*adding title finside container*/
          font-size: 25px;
        }

      .footer1{
        background: linear-gradient(to right, #f1f1f1,#ffa500);   /*styling the footer text of the page*/
        text-align: center;
        height: 90px;
        margin: -16px;
        margin-right: 0;
        margin-bottom: 1px;
      }

      .footer1-text{              /*paddin of the footer text*/
        padding: 20px;
      }

